@use './variables' as *;

body {
  margin: 0;
  padding: 0;
  font-family: $fontStack;
  font-size: $fontSizeBase;
  color: $black;
  background-color: $white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

// Dark mode
:root.dark-mode {
  body {
    color: $darkText;
    background-color: $darkBg;
  }
}

.app-container {
  max-width: 900px;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}