@use '../../styles/variables' as *;

.phone-card {
  background: $white;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid $grayBorder;
  box-shadow: 0 2px 8px rgba($black, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  :root.dark-mode & {
    background: $darkBgSecondary;
    border-color: $darkBorder;
    color: $darkText;
    box-shadow: 0 2px 8px rgba($black, 0.3);
  }

  .phone-header {
    h2 {
      font-size: $fontSizeLg;
      font-weight: $fontWeightMedium;
      margin: 0;
    }

    p {
      font-size: $fontSizeSm;
      color: $gray;
      margin: 0;

      :root.dark-mode & {
        color: $darkTextSecondary;
      }
    }
  }

  textarea {
    min-height: 150px;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid $grayBorder;
    font-size: $fontSizeBase;
    font-family: inherit;
    transition: border-color 0.2s ease, background-color 0.3s ease, color 0.3s ease;
    background: white;
    color: black;
    outline: unset;

    :root.dark-mode & {
      background: $darkBgTertiary;
      color: $darkText;
      border-color: $darkBorder;
    }
  }

    :root.dark-mode & {
      color: $darkTextSecondary;
    }

  .phone-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fontSizeSm;
    color: $gray;

    .clear-btn {
      background: none;
      border: none;
      color: $greenDark;
      font-weight: $fontWeightMedium;
      cursor: pointer;
      padding: 0.5rem;

      &:hover {
        color: $white;
        background: $green;
        border-radius: 10px;
      }

      &:disabled {
        color: $gray;
        cursor: not-allowed;
      }
    }
  }
}
